body {

    background-image: url('../images/bg.jpg');
    background-attachment: fixed;

}
#basicContainer {
    margin-top: 80px;

    background-color: rgba(245, 245, 245, 0.5);
    border: 2px solid #b3b3b3;
    border-radius: 5px;
    padding: 60px 60px 30px 60px;
    argin-bottom: 80px;

}
#basicContainerCatalog {
    margin-top: 80px;
    background-color: rgba(245, 245, 245, 0.5);
    border: 2px solid #b3b3b3;
    border-radius: 5px;
    padding: 60px 60px 30px 60px;
    margin-bottom: 80px;

}

#row{

}
.splitimage{
    max-height:100%;
    max-width:100%;
    width:60%;
    height:auto;
    margin-top: 10px;
    margin-left: 20px;
}

#cell
{

    width:130px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border-radius: 5px;

}
footer {

    clear: both;
    position: relative;
    z-index: 10;
    height: 2em;
    margin-top: -3em;
    background-color: rgba(245, 245, 245, 0.5);
    text-align: center;
    padding-top: 5px;
}
