@(gestionarUsuario: Form[User]))


@main("Product"){
  
  <div class="container  col-md-6 col-md-offset-3" id="basicContainer" >
    <script type='text/javascript' src='@routes.Assets.versioned("js/products.js")'> </script>

    <h1>Registro de Producto </h1>
    <p>
      Por favor ingrese la informacion del producto que se desplegara en el catalogo como producto disponible.
    </p>


    <form action="@routes.ProductController.addProduct()" method="post" class="form-horizontal">

      <div class="form-group">
        <label for="productname">Nombre de Producto</label>
        <input type="text" class="form-control" placeholder="Nombre de Producto" aria-describedby="basic-addon1" name="productname">
      </div>
      <div class="form-group">
        <label for="quantity">Cantidad</label>
        <input type="number" min="1" max="100" class="form-control" placeholder="Cantidad" aria-describedby="basic-addon1" name="quantity">
      </div>
      <div class="form-group">
        <label for="description">Descripcion</label>
        <input type="text" class="form-control" placeholder="Descripcion" aria-describedby="basic-addon1" name="description">
      </div>
      <div class="form-group">
        <label for="price">Precio</label>
        <input type="text" class="form-control" placeholder="Precio" aria-describedby="basic-addon1" name="price">
      </div>
      <div class="form-group">
        <label for="price">Imagen</label>
        <label class="btn btn-default btn-file">
          Buscar <input type="file" style="display: none;">
        </label>
      </div>
      @* <input type="text" name="name" />*@
      <button type="submit" class="btn btn-primary">Ingresar</button>
      @*<button>Add Person</button>*@
      <ul id="products"></ul>
    </form>

  </div>

}
