@(message: String)
@*
* Call the `Main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Home"){

  <div class="container  col-md-6 col-md-offset-3" id="basicContainer" >
    <script type='text/javascript' src='@routes.Assets.versioned("js/index.js")'> </script>
        <div>
          <h1> Introduccion</h1>
          <p>
            Primate Colombia, es una empresa establecida en la ciudad de Bogotá D.C., en

            búsqueda de posicionarse en el sector de las de la escala en Colombia, ofreciendo una

            variedad de servicios

          </p>

          <p>
            VENTA DE MUG

            Amplia gama de Mugs, estos son tallados, pintados y pulidos a mano. Se personalizan y

            se trabajan a nivel corporativo.

            VENTA DE ACCESORIOS Y PRODUCTOS:

            Se cuenta con una tienda virtual de accesorios y productos Bogotá donde se ofrece una

            variedad de productos orientados a escaladores principalmente y se incluyen o amplia el

            mercado otro tipo de tribus urbanas. Las marcas de los accesorios que se manejan y

            venden son conocidas en el gremio Colombiano.
          </p>

          <p>
            <h1>Proposito</h1>
            Este documento tiene como finalidad dar una visión completa y detallada del alcance del

            desarrollo a elaborar para la empresa PRIMATE COLOMBIA, como una solución a su

            necesidad más apremiante.

            Dirigido esencialmente al docente de la materia y a las personas que van a dirigirlo y

            aprobarlo.
          </p>

        </div>


  </div>

}
